<div class="main-container">
    <app-loader></app-loader>
    <div class="screen">
        <div class="screen__content">
            <form class="login" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <img src="../assets/download.png" class="fossilLogo" alt="Fossil Global">

                <div class="login__field">
                    <input type="password" class="login__input" formControlName="email" placeholder="New Password">
                    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']"
                        class="error">
                        This field is required
                    </div>
                </div>

                <div class="login__field">
                    <input type="password" class="login__input" formControlName="password"
                        placeholder="Confirm Password">
                    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
                        class="error">
                        This field is required
                    </div>
                </div>

                <div *ngIf="loginForm.errors?.['fieldsMismatch']" class="error">
                    Both the fields must be same.
                </div>

                <button type="submit" class="button login__submit" [disabled]="!loginForm.valid">
                    <span class="button__text">Reset Password</span>
                </button>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>