.sidenav {
    min-height: 100%;
    padding-top: 20px;
    width: 70px;
    overflow-y: hidden;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2), 0 20px 6px 10px rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5D54A4;
}

.sidenav ul {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

.sidenav mat-icon {
    color: white;
}

.sidenav li {
    margin-bottom: 10px;
    width: 100%;
}

.sidenav li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    border-left: 5px solid transparent;
    transition: background-color 0.3s ease;
    text-align: center;
}

.sidenav li a:hover {
    background-color: #000000;
    border-left-color: #000000;
}