<div class="main-container">
    <app-loader></app-loader>
    <app-header></app-header>
    <div class="content-wrapper">
        <app-sidenav></app-sidenav>
        <div class="content">
            <div *ngIf="approvalSuccess" class="alert alert-success center-bottom-alert" role="alert">
                Approval Request Submitted Successfully
            </div>
            <div *ngIf="approvalError" class="alert alert-danger center-bottom-alert" role="alert">
                Approval Request with this date and status 'Pending' already exists
            </div>
            <div class="dropdowns">
                <div class="form-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Year</mat-label>
                        <mat-select [(ngModel)]="selectedYear" (selectionChange)="openDetailedAttendance()">
                            <mat-option *ngFor="let year of distinctYears" [value]="year">{{year}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="dropdown" appearance="outline">
                        <mat-label>Month</mat-label>
                        <mat-select [(ngModel)]="selectedMonth" (selectionChange)="openDetailedAttendance()">
                            <mat-option *ngFor="let month of distinctMonths"
                                [value]="month">{{monthNames[month]}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div style="border: 1px solid black;" class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th class="detailTableHeader2" [class.sort-asc]="sortColumn === 'date' && sortAscending"
                                [class.sort-desc]="sortColumn === 'date' && !sortAscending" (click)="sortData('date')">
                                Date</th>
                            <th class="detailTableHeader2"
                                [class.sort-asc]="sortColumn === 'attendance' && sortAscending"
                                [class.sort-desc]="sortColumn === 'attendance' && !sortAscending"
                                (click)="sortData('attendance')">Attendance</th>
                            <th class="detailTableHeader2">Shift</th>
                            <th class="detailTableHeader2">Shift Allowance (₹)</th>
                            <th class="detailTableHeader2">Food Allowance (₹)</th>
                            <th class="detailTableHeader2">Total Allowance (₹)</th>
                            <th class="detailTableHeader2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of detailedAttendanceData">
                            <td class="detailTableFields2" style="padding: 10px;">{{ item.date }}</td>
                            <td class="detailTableFields2">{{ item.attendance }}</td>
                            <td class="detailTableFields2"> {{ item.shift }} </td>
                            <td class="detailTableFields2"> {{ item.allowance }} </td>
                            <td class="detailTableFields2"> {{ item.foodAllowance }} </td>
                            <td class="detailTableFields2"> {{ item.allowance + item.foodAllowance }} </td>
                            <td class="detailTableFields2"><mat-icon style="cursor: pointer;"
                                    (click)="openDialog(item)">edit</mat-icon></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #editDialog>
    <h1 mat-dialog-title style="background-color: #5D54A4; color: white;">Edit Attendance</h1>
    <div mat-dialog-content>
        <div class="popUpContent">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Selected Date</mat-label>
                <input matInput [matDatepicker]="picker" disabled [(ngModel)]="popUpDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Attendance</mat-label>
                <mat-select [(ngModel)]="popUpAttendance" (selectionChange)="onAttendanceChange()">
                    <ng-container *ngFor="let option of options">
                        <mat-option [value]="option">{{ option }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Shift</mat-label>
                <mat-select [(ngModel)]="popUpShift">
                    <ng-container *ngFor="let option of shiftOptions">
                        <mat-option [value]="option">{{ option }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field class="inputWidth" appearance="outline">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput [(ngModel)]="textComment"></textarea>
        </mat-form-field>

        <div class="shift-options">
            <ul>
                <li><strong>Shift A - </strong>8:00 AM to 8 PM</li>
                <li><strong>Shift B - </strong>Shifts starting before 8:00 AM OR ending between 8:00 PM to 10 PM</li>
                <li><strong>Shift C - </strong>Shifts extending beyond 10:00 PM upto 12 Mid Night</li>
                <li><strong>Shift D - </strong>Shift extending beyond 12:00 mid night</li>
                <li><strong>Shift F - </strong>On Call from Home (beyond 12 mid night and Weekly offs)</li>
            </ul>
        </div>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" style="margin: 10px;" (click)="sendForApproval()">Send for
            Approval</button>
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    </div>
</ng-template>